<link rel="stylesheet" type="text/css" href="/css/signup.css">
<div class="outer-signup">
  <h5  style="position: relative;top:20%; font-size:2.0rem; left:60%">Sign Up</h5>
<div class="sign-up">

    <form action="/user/login" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email" required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="name"  name="name" class="form-control" id="exampleInputEmail1" placeholder="Username" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
        </div>
 
        <button type="submit" class="btn btn-primary btn-lg active">Submit</button>
      </form>




</div>
</div>